* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Montserrat', sans-serif;
  background-color: #031920;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerLeftAligned {
  font-family: 'Montserrat', sans-serif;
  background-color: #031920;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 25px;
}

.title {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 25px;
}

.titleSmall {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 60px;
}

.timer {
  color: #ffffff;
  font-size: 72px;
  margin-bottom: 10px;
}

.miliseconds {
  color: #ffffff;
  font-size: 36px;
}

.sheduleContent {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0px;
  display: inline-block;
}

.header {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btnLarge {
  width: 145px;
  height: 55px;
  font-size: 18px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btnLarge:hover {
  box-shadow: inset 0 0 0 3.5px #ef476f, 
              inset 0 0 0 7px #ffd166, 
              inset 0 0 0 10.5px #06d6a0,
              inset 0 0 0 14px #118ab2;
  background: #031920;
  color: #fff;
}

.btnMedium {
  width: 125px;
  height: 55px;
  font-size: 18px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btnMedium:hover {
  box-shadow: inset 0 0 0 3.5px #ef476f, 
              inset 0 0 0 7px #ffd166, 
              inset 0 0 0 10.5px #06d6a0,
              inset 0 0 0 14px #118ab2;
  background: #031920;
  color: #fff;
}

.btnSmall {
  width: 95px;
  height: 55px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btnSmall:hover {
  box-shadow: inset 0 0 0 3.5px #ef476f, 
              inset 0 0 0 7px #ffd166, 
              inset 0 0 0 10.5px #06d6a0,
              inset 0 0 0 14px #118ab2;
  background: #031920;
  color: #fff;
}

.btnBack {
  position: absolute;
  top: 8px;
  left: 5px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 7.75rem;
  height: auto;
}

.btnBack .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #031920;
  border-radius: 1.625rem;
  float: right;
  box-shadow: inset 0 0 0 2px #ffffff
}

.btnBack .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
}

.btnBack .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  right: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btnBack .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  left: 0rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #ffffff;
  border-left: 0.125rem solid #ffffff;
  transform: rotate(-45deg);
}

.btnBack .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 2.75rem;
  bottom: 0rem;
  padding: 0.725rem 0;
  color: #ffffff;
  font-weight: 525;
  line-height: 1.6;
  text-align: center;
}

.btnBack:hover .circle {
  width: 100%;
  box-shadow: inset 0 0 0 3px #ef476f, 
              inset 0 0 0 6px #ffd166, 
              inset 0 0 0 9px #06d6a0,
              inset 0 0 0 12px #118ab2;
}

.btnBack:hover .circle .icon.arrow {
  background: #ffffff;
  transform: translate(-0.5rem, 0);
}

.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pl__arrows {
  animation-name: arrows42;
  transform: rotate(45deg);
  transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  transform-origin: 80px 80px;
}

.pl__ring-rotate {
  animation-name: ringRotate42;
}

.pl__ring-stroke {
  animation-name: ringStroke42;
  transform: rotate(-45deg);
}

.pl__tick {
  animation-name: tick42;
}

.pl__tick:nth-child(2) {
  animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {
  from,
	to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {
  from,
	3%,
	47%,
	to {
    stroke-dashoffset: -12;
  }

  14%,
	36% {
    stroke-dashoffset: 0;
  }
}